<p><%= t(:hello, :user => @resource.fullname) %></p>

<p><%= t(:account_has_been_locked) %></p>

<p><%= t(:click_the_link_bellow_to_unlock) %></p>

<p><%= link_to t(:unlock_my_account), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
