<td><%=link_to @model, :class=>"nav-header" do%>
    <img src="/assets/icons/information.png" alt="Edit" />
  <%end%></td>
<% if !%w{massive_loads}.include?(controller_name) %>
  <% if current_user == @model %>
    <% @edit_path = "edit_registration_path(@model)" %>
  <% else %>
    <% @edit_path = "edit_#{controller_name.singularize}_path(@model)" %>
  <% end %>
  <td><%=link_to eval(@edit_path), :class=>"nav-header" do%>
      <img src="/assets/icons/pencil.png" alt="Edit" />
    <%end%></td>
<% end %>
<% if !%w{mail_templates system_configurations}.include?(controller_name) %>
  <td><%=link_to @model, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"nav-header" do%>
      <img src="/assets/icons/cross.png" alt="Delete" />
    <%end%>
  </td>
<% end %>